<div class="modal">
    <h1>Welcome to Ponyverse</h1>

    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua.        
    </p>

    <p>
        <a class="rules-link" href="/rules">Please make sure to read the rules first</a>.
    </p>

    <a href="#" class="persona-button orange login"><span>Login with Persona</span></a>

    <div>or</div>

    <label for="nick">Nick:</label><input name="nick" type="text" maxlength="<%- constraints.nick.maxlength %>" />
    <a href="#" class="persona-button orange register"><span>Register a new account</span></a>
</div>
