<!DOCTYPE html>
<html>
<head>
    <%= commonHeaders %>

    <link rel="stylesheet" type="text/css" href="<%= asset('/css/persona-buttons.css') %>" />

    <script src="<%= asset('/js/libs/es5-shim-2.0.11-min.js') %>"></script>
    <script src="<%= asset('/js/libs/require-2.1.5-jquery-2.0.0.js') %>"></script>

    <script>
        // cache busting

        var load = requirejs.load;
        requirejs.load = function (context, moduleId, url) {
            "use strict";

            return load(context, moduleId, window._asset(url));
        };

        // invok main
        require(["/js/main.js"]);
    </script>
</head>
<body>
    <div class="horizontal-screen-border top"></div>
    <div class="horizontal-screen-border bottom"></div>
    <div class="vertical-screen-border left"></div>
    <div class="vertical-screen-border right"></div>
    <div class="screen-border-corner sprite top-left"></div>
    <div class="screen-border-corner sprite top-right"></div>
    <div class="screen-border-corner sprite bottom-left"></div>
    <div class="screen-border-corner sprite bottom-right"></div>

    <div id="cr-stage">
        <div id="ui">
        </div>

        <div id="modal">
        </div>
    </div>
</body>
</html>

