<html>
<head>
    <%= commonHeaders %>

    <script>
        function goBack () {
            if (window.name === "child-window") {
                window.close();
            } else {
                location.href = "/";
            }

            return false;
        }
    </script>
</head>
<body>
    <div class="static-content">
        <h1>Ponyverse - The rules</h1>

        <div class="action"><a href="#" onclick="goBack();">&raquo; Back to Ponyverse</a></div>

        <h2>In few words</h2>

        <h3>Dos</h3>

        <ol>
        <% _.each(rules.dos, function (rule) { %>
            <li><a href="#<%- rule.tag %>"><%- rule.brief %></a></li>
        <% }); %>
        </ol>

        <h3>Don'ts</h3>

        <ol>
        <% _.each(rules.donts, function (rule) { %>
            <li><a href="#<%- rule.tag %>"><%- rule.brief %></a></li>
        <% }); %>
        </ol>

        <h2>In detail</h2>

        <h3>Dos</h3>

        <% _.each(rules.dos, function (rule) { %>
            <a class="rule-anchor" name="<%- rule.tag %>"></a>

            <div class="rule-details">
                <h4><%- rule.brief %></h4>

                <p><%- rule.long %></p>
            </div>
        <% }); %>

        <h3>Don'ts</h3>

        <% _.each(rules.donts, function (rule) { %>
            <a class="rule-anchor" name="<%- rule.tag %>"></a>

            <div class="rule-details">
                <h4><%- rule.brief %></h4>

                <p><%- rule.long %></p>
            </div>
        <% }); %>

        <div class="action"><a href="#" onclick="goBack();">&raquo; Back to Ponyverse</a></div>
    </div>
</body>
</html>

